<html>
<head>
<link href="/static/css/stylesh.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="center">
<div class="logo">
<img src="/static/img/logo.png">
</div>
<br><br>
<hr class="line">
<br>
<div class="header">
{{ header }}
</div>
<br><br>
<div class="bodytext">
<strong>Уважаемый {{ username }}!</strong><br><br>
    <p>Вы зарегистрированы на  p2p бирже. Ваш логин - {{ username }}

<br><br>

<a class="button" href="#" hidden="true">Перейти к ордеру</a> <a class="button" href="#" hidden="true">В личный кабинет</a>
<br><br><br><br>
<a href="http://www.taketoken.net/">
www.taketoken.net</a>
</div>

</div>
</body>