{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/reset.css" rel="stylesheet" media="screen">
  <link href="../static/css/style.min.css" rel="stylesheet" media="screen">
  <link href="../static/img/favicon.ico" rel="icon" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body class="page">



    <div class="row justify-content-center">
        <table>
          <p>Сразу после запуска биржи на Ваш e-mail придет уведомление о создании Вашего аккаунта. Спасибо за доверие.</p>
        <tr>  <div class="g-recaptcha" data-sitekey="6LfQszMUAAAAAFJ7mytwTRmo-4IGiqBZuqYxNOaF" data-callback="recaptcha_callback"></div></tr>

        </br>

</table>

      </article>
    </div>


</body>



</html>
